/*
 * Globals
 */

/* Based on: https://getbootstrap.com/docs/4.0/examples/cover/ */

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  /* box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */
}


/* https://stackoverflow.com/questions/11801790/how-to-create-a-box-shadow-that-covers-the-entire-page/11801825#11801825 */
#wrapper {
  overflow: auto;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

html, body, #wrapper {
    width: 100%;
    height: 100%;
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link,
.nav-min-tabs .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

/* doesn't make sense to have greyed out underline
when item is focused. it just means that when
you click on a tab, the underline is greyed out
until you click somewhere else. (which doesn't make
sense since the tab is selected and its
title is not greyed out.

(that's why the :focus rules were added)
*/

.nav-masthead .nav-link:hover,
/* .nav-masthead .nav-link:focus, */
.nav-min-tabs .nav-link:hover
/* .nav-min-tabs .nav-link:focus { */ {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link,
.nav-min-tabs .nav-link + .nav-link,
.nav-min-tabs .nav-item + .nav-item {
  margin-left: 1rem;
}

/* didn't make sense to not have :hover
rules here, because it meant that a selected tab
could have a greyed out underline, which again
doesn't match the non-greyed out title
*/
.nav-masthead .active,
.nav-masthead .active:hover,
.nav-min-tabs .active,
.nav-min-tabs .active:hover {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

/* ----------------------*/

/* mods */

/* ol li + li {
  margin-top: 8px;
} */

ol li {
  margin-top: 8px;
}

.spacer {
  height: 8px;
}

.masthead {
  padding-bottom: 10px;
}

.mastfoot {
  padding-top: 10px;
}

.selectedFile {
  font-weight: bold;
  text-shadow: none;
}

.cover.fade {
  transition: opacity .4s linear
}

.results .fade {
  /* transition: opacity .2s linear */
  /* transition: opacity .25s linear; */
  /* use bootstrap default (.15s) */
  transition: opacity .15s linear, visibility .15s;
  visibility: hidden;
  -webkit-user-select: none;
}

.results .fade.show {
  visibility: visible;
  -webkit-user-select: auto;
}

.results,
.stacked-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.results div,
.stacked-grid div {
  grid-row-start: 1;
  grid-column-start: 1;
}

.result-success ol {
  padding-bottom: 0;
  margin-bottom: 0;
}

.stacked-grid div.fade {
  /* display: block !important; */
  display: none !important;
  visibility: hidden;
}

.stacked-grid div.fade.show {
  display: block !important;
  visibility: visible;
}

.alert, .alert a {
  text-shadow: none;
  color: black !important;
}

.secondary-text {
  /* color: lightgrey */
}

main a,
.alert a {
  color: rgb(68, 147, 248) !important
}

.alert a {
  font-weight: bold
}

.secondary-text a:hover,
.alert a:hover {
  text-decoration: underline;
}

.lead {
  font-weight: bold
}

.nav-pills {
  padding-top: 10px;
  padding-bottom: 10px;
}

a,
a:visited
a:focus {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:hover.nav-link,
.masthead a:hover {
  text-decoration: none;
}

.count {
  font-weight: bold
}

a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

.cover-container {
  max-width: 55em
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
  -webkit-user-select: none;
  user-select: none;
}
