<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
  <meta http-equiv="pragma" content="no-cache" />

  <meta
    name="theme-color"
    content="#333"
    media="(prefers-color-scheme: dark)" />

  <title>Banish Garmin Ghost Alerts/Laps</title>
  <link rel="icon" href="./favicon/favicon-16x16.png" type="image/png" sizes="16x16">
  <link rel="icon" href="./favicon/favicon-32x32.png" type="image/png" sizes="32x32">
  <link rel="apple-touch-icon" href="./favicon/apple-touch-icon.png">
  <link rel="manifest" href="./favicon/site.webmanifest">

  <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="./cover.css?inline" rel="stylesheet" />
</head>
<body>
  <div id="wrapper">
  <div id="incompatible" class="hidden">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <div class="inner cover">
        <p class="lead">
          Your browser is not compatible with this page.
          Please use a modern browser to access this page.
        </p>
      </div>
    </div>
  </div>
  <script>
    (function () {
      function showIncompatibleMsg() {
        document.getElementById('incompatible').className = '';
        document.getElementById('cover_container').remove();
      }

      // check for es5 compatibility
      // todo: transpile for older browsers
      var compatible =
        (function () {
          "use strict";
          return Function.prototype.bind && !this;
        }());
      if (!compatible) {
        showIncompatibleMsg();
      }

      window.onerror = function(e) {
        console.error('window error')
        console.error(e)
        showIncompatibleMsg();
      }
    }());
  </script>
  <noscript>
    <div id="nojs">
      <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <div class="inner cover">
          <p class="lead">
            Javascript is disabled. Please enable javascript to use this page
          </p>
        </div>
      </div>
  </div>
  </noscript>
  <div id="cover_container" class="cover-container d-flex h-100 p-3 mx-auto flex-column hidden">
    <script>
      (function () {
        document.getElementById('cover_container').classList.remove('hidden')
      }());
    </script>
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand no-ghosts-extra extra-target fade show">
          <a href="#no-alerts" onclick="setTimeout(location.reload.bind(location), 1)">Banish Garmin Ghost Alerts 🚫 👻 ⚠️</a>
        </h3>
        <h3 class="masthead-brand no-laps-extra extra-target fade hidden">
          <a href="#no-laps" onclick="setTimeout(location.reload.bind(location), 1)">Turn Off Golf Auto Laps 🚫 ⛳ 🏃‍♂️</a>
        </h3>
        <nav class="nav nav-masthead justify-content-center" role="tablist">
          <a id="no-ghosts-tab" class="nav-hash nav-link active" href="#no-alerts" data-bs-toggle="tab" data-bs-target=".no-ghosts" role="tab">Fix Ghost Alerts</a>
          <a id="no-laps-tab" class="nav-hash nav-link" href="#no-laps" data-bs-toggle="tab" data-bs-target=".no-laps" role="tab">Fix Ghost Laps</a>
        </nav>
      </div>
    </header>
    <main role="main" class="inner cover fade" id="cover">
      <!-- <h1 class="cover-heading">🚫 👻 ⚠️</h1> -->
      <div class="tab-content stacked-grid">
        <div class="mode no-ghosts tab-pane fade active show">
          <p class="lead">Disable<sup>1</sup> all toggleable alerts<sup>2</sup> in an activity profile, including
            pesky "ghost" alerts.</p>
          <p><small><sup>1</sup> You can re-enable any alerts you want to keep, using the settings on your watch or in the Connect app</small></p>
          <p><small><sup>2</sup> Like "Drink", custom, time or distance alerts — any alert which can be enabled or disabled via a status toggle.
          Range-based alerts (like cadence and HR) will not be affected</small></p>
          <p><b>⚠️ Everything is done in the browser - no personal information is stored or transmitted.</b></p>
        </div>
        <div class="mode no-laps tab-pane fade">
          <p class="lead">Disable automatic laps for any kind of Garmin activity profile, including Golf<sup>1</sup>.</p>
          <p><small><sup>1</sup> Golf is broken for some people, as automatic laps are enabled with no way to turn them off</small></p>
          <p><b>⚠️ Everything is done in the browser - no personal information is stored or transmitted.</b></p>
        </div>
      </div>
      <div class="spacer"></div>
      <h4>Let's get started:</h4>
      <div>
        <ul class="nav nav-min-tabs" id="osTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="windows-tab" data-bs-toggle="pill" data-bs-target="#windows"
              type="button" role="tab" aria-controls="windows" aria-selected="true">Windows</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="mac-tab" data-bs-toggle="pill" data-bs-target="#mac" type="button" role="tab"
              aria-controls="mac" aria-selected="false">Mac</button>
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <div id="windows" class="tab-pane fade active show">
          <%- include('./partials/tab.ejs', { isMac: false }) %>
        </div>
        <div id="mac" class="tab-pane fade">
          <%- include('./partials/tab.ejs', { isMac: true }) %>
        </div>
      </div>
      <form autocomplete="off" class="hidden">
        <input type="file" id="fileinput">
      </form>
    </main>
    <footer class="mastfoot mt-auto">
      <div class="inner text-center">
        <p><a href="https://github.com/flowstatedev/flowstatedev.github.io/tree/main/src/no-ghosts">Source code</a>
          | <span>Theme based on <a href="https://getbootstrap.com/docs/4.0/examples/cover/">Bootstrap Cover Template</a>, by
          <a href="https://twitter.com/mdo">@mdo</a></span></p>
      </div>
    </footer>
  </div>
  </div>

  <script>
      (function () {
        // select tabs here and in this way to avoid animations on page load
        // yes it's very clear why react is much more popular than this kind of nonsense...

        //https://stackoverflow.com/questions/38241480/detect-macos-ios-windows-android-and-linux-os-with-js
        function getOS() {
          const userAgent = window.navigator.userAgent,
              platform = window.navigator?.userAgentData?.platform || window.navigator.platform,
              macosPlatforms = ['macOS', 'Macintosh', 'MacIntel', 'MacPPC', 'Mac68K'],
              windowsPlatforms = ['Win32', 'Win64', 'Windows', 'WinCE'],
              iosPlatforms = ['iPhone', 'iPad', 'iPod'];
          let os = null;

          if (macosPlatforms.indexOf(platform) !== -1) {
            os = 'Mac OS';
          } else if (iosPlatforms.indexOf(platform) !== -1) {
            os = 'iOS';
          } else if (windowsPlatforms.indexOf(platform) !== -1) {
            os = 'Windows';
          } else if (/Android/.test(userAgent)) {
            os = 'Android';
          } else if (/Linux/.test(platform)) {
            os = 'Linux';
          }
          return os;
        }

        const os = getOS();
        if (os === 'Mac OS' || os === 'iOS') {
          const windowsTab = document.getElementById('windows-tab');
          const windowsTabContent = document.getElementById('windows');
          const macTab = document.getElementById('mac-tab');
          const macTabContent = document.getElementById('mac');

          windowsTab.classList.remove('active');
          windowsTab.setAttribute('aria-selected', 'false');
          windowsTabContent.classList.remove('active');
          windowsTabContent.classList.remove('show');

          macTab.classList.add('active');
          macTab.setAttribute('aria-selected', 'true');
          macTabContent.classList.add('active');
          macTabContent.classList.add('show');
        }

        // ------

        if (window.location.hash) {
          const tabName = window.location.hash;
          const selectedTab = document.querySelector(`.nav-hash[href="${tabName}"]`)
          if (selectedTab ) {
            const allTabs = document.querySelectorAll(`.nav-hash`)
            allTabs.forEach(tab => {
              tab.classList.remove('active');
              const target = document.querySelector(tab.getAttribute('data-bs-target'));
              target.classList.remove('active')
              target.classList.remove('show')
            })

            selectedTab.classList.add('active');
            const target = selectedTab.getAttribute('data-bs-target');
            const selectedTabTarget = document.querySelector(target);
            selectedTabTarget.classList.add('active')
            selectedTabTarget.classList.add('show')

            const extraTargets = document.querySelectorAll(`${target}-extra`)
            const allExtraTargets = document.querySelectorAll(`.extra-target`)
            allExtraTargets.forEach(el =>  {
              el.classList.remove('show');
              el.classList.add('hidden')
            })
            extraTargets.forEach(el => {
              el.classList.add('show')
              el.classList.remove('hidden');
            })
          }
        }
      }());
  </script>
  <script src="bootstrap/js/dist/tab.js"></script>
  <script src="./index.js"></script>
  <script>
    (function () {
      window.onerror = null;
    }());
  </script>
</body>
</html>